VITE_SUPABASE_URL=https://xfgvktoyrmjucajwueby.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhmZ3ZrdG95cm1qdWNhand1ZWJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNTg0OTAsImV4cCI6MjA5MjkzNDQ5MH0.z9r3_Nr-G6_qj8fvu_zelmtbNY8eNaRgzj2BAj7UneE

VITE_BACKEND_URL=http://localhost:3939
